<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mantenedor</title>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            />
    </head>
    <body>

        <nav> <a href="/">Home</a> </nav>


        
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <form id="formulario" action="/mantenedor" method="POST">
                    <td></td>
                    <td><input type="text" id="in_nombre" name="nombre" placeholder="Nombre"></td>
                    <td><input type="text" id="in_apellido" name="apellido" placeholder="Apellido"></td>
                    <td><button id="btn_add"><span class="material-symbols-outlined">
                            add
                        </span></button>
                        <button id="btn_edit" hidden><span class="material-symbols-outlined">
                            edit
                        </span></button>
                    </td>
                </form>
            </tr>
            
            {{#each personas}}
            <tr id="tr-{{id}}">
                <td>{{id}}</td>
                <td>{{nombre}} </td>
                <td> {{apellido}}</td>
                <td><a href="#" onclick="editar({{id}})"><span class="material-symbols-outlined">
                        edit
                    </span></a>
                </td>
                <td>
                    <a href="/mantenedor/{{id}}?_method=delete"><span class="material-symbols-outlined">
                        delete
                    </span></a>
                </td>
            </tr>

            {{/each}}
        </table>

        <script>
            function editar(id){
                const tr = document.getElementById(`tr-${id}`);
                const td_nombre= tr.children[1].textContent;
                const td_apellido= tr.children[2].textContent;
                document.getElementById("in_nombre").value= td_nombre;
                document.getElementById("in_apellido").value= td_apellido;
                document.getElementById("btn_add").hidden =true;
                document.getElementById("btn_edit").hidden =false;
                const form = document.getElementById("formulario");
                form.action = `/mantenedor/${id}?_method=put`
                console.dir(form)
            }
        </script>
    </body>
</html>